@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=League+Spartan:wght@681&family=Rubik+Dirt&display=swap");
@font-face {
  font-family: futurak;
  src: url("../assets/fonts/futurak.ttf");
}
*{

        box-sizing: border-box;
}
:root {
        --blue: #1e90ff;
        --gray: #909090;
      }


      

#home{
        width: 80%;
        display: flex;
        justify-content: center;
        margin: auto;
        flex-wrap: wrap;
        gap: 30px;
}
.inputs{
        width: 700px;
        display: flex;
        flex-direction: column;
        height: 80px;
        justify-content: space-between;
        align-items: start;
}

.inputs input{
        width: 97%;
        border: none;
        border-radius: 3px;
        height: 47px;
        padding: 4px 10px;
}
.inputs label{
color: var(--gray);
font-size: 1.4rem;
}


.btn{
        width: 77%;
        display: flex;
        justify-content: start;
        margin: auto;
        flex-wrap: wrap;
        padding-right: 23px;
}
.btn button{
        background-color: rgb(200, 200, 11) ;
        padding: 10px 20px ;
        font-size: 1.2rem;
        border-radius: 30px;
        color: white;
        margin: 10px 0px;

}
